/* just a simple reset to get styling consistent in all browsers */

/* apply a consistent font family */
  html 
  {
    font-family: sans-serif;
  }
  
  /* remove margin and padding from elements */
  body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend 
  {
    margin: 0;
    padding: 0; 
  }
  
  /* remove list style from unordered lists */
  ul, ol 
  {
    list-style: none;
  }
  
  /* reset table layout */
  table 
  {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* reset form element styles */
  button, input, select, textarea 
  {
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  /* remove font styles from headings */
  h1, h2, h3, h4, h5, h6 
  {
    font-weight: normal;
    font-style: normal;
  }
  
  /* remove underline from links */
  a 
  {
    text-decoration: none;
    color: var(--petrol);
  }

  a:hover 
  {
    color: var(--blue);
  }
  

/* Raindydays fonts import */

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Nunito:ital,wght@0,200;0,300;1,200&display=swap');


/* color pallet */ 

:root
{
  --white: rgb(255, 255, 255);
  --lightgrey: rgb(217, 217, 217); 
  --darkgrey: rgb(81, 85, 86); 
  --petrol: rgb(10, 54, 65);
  --blue: rgb(52, 103, 154);
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Raindydays styles */

body
{
  font-family: 'Nunito', sans-serif;
  color: var(--petrol);
}

h1, h2, h3
{
  font-family: 'Abhaya Libre', serif;
}

h1
{
  font-size: 4rem;
}

h2
{
  font-size: 3rem;
}

h3
{
  font-size: 2rem;
}

h4
{
  font-size: 1.5rem;
}

.button
{
  color: var(--petrol);
  border: 1px solid #fff;
  background-color: #FFF;
  display: inline-block;
  text-decoration: none;
  width: 200px;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.5s;
  cursor: pointer ;
}


.button:hover
{
  border: 1px solid #fff;
  background-color: rgba(var(--white), 0);
  color: #FFF;
}

.button.big
{
  padding: 15px 5px;
}

.hero-buttons 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-layout
{
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header
{
  padding: 0 20px;
  display: grid;  
  grid-template-columns: 1fr auto 1fr;
  min-height: 90px;
}

nav.left-nav
{
  display: grid;
  align-items: center;
}

nav.left-nav li
{
  padding-right: 15px;
  display: inline-block;
}

nav.left-nav li a
{
  color: var(--petrol);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

nav.left-nav li a:hover
{
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 4px;
}

nav.right-nav
{
  display: grid;
}

.shopping-cart-button {
    position: absolute;
    top: 5%;
    right: 10%;
    height: 27px;
    width: 50px;
    cursor: pointer;
    z-index: 120;
}

.shopping-cart-popup {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  background: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.shopping-cart-popup-content .pop-up-header
{
  border-bottom: 1px solid var(--lightgrey);
  display: grid;
  grid-column: 1 / span 2;
  height: 30px;
  padding-bottom: 10px;
}

.shopping-cart-popup-content p 
{
  font-size: 0.7rem;
  text-transform: uppercase;
}

.shopping-cart-popup.open {
  transform: translateX(0%);
}

.shopping-cart-popup-content {
  padding: 20px;
}


.button_container 
{
  position: absolute;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}

.button_container:hover 
{
  opacity: .7;
}

.button_container.active .top 
{
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle 
{
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom 
{
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span 
{
  background: #000;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) 
{
  top: 11px;
}

.button_container span:nth-of-type(3) 
{
  top: 22px;
}

.overlay 
{
  position: fixed;
  background: var(--petrol);
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  }
  
  .overlay.open 
  {
    z-index: 10;
    opacity: 0.9;
    visibility: visible;
    height: 100%;
  }
  
  .overlay nav 
  {
  position: relative;
  top: 30%;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  }
  
  .overlay ul 
  {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  }
  
  .overlay ul li 
  {
  position: relative;

  }
  
  .overlay ul li a 
  {
    font-size: 1.1rem;
    padding-bottom: 20px;
  display: block;
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  overflow: hidden;
  }

  .overlay ul li a:hover
  {
    text-decoration: none;
    opacity: 0.7;
  }

.fa-thin
{
  color: black;
}

figure.logo img
{
  width: 130px;
}

.hero
{
  position: relative;
  width: 100vw;
  background-image: url(/images/adrian-infernus-S6t8kRrlIXU-unsplash.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 620px;
  margin-bottom: 50px;
}

.hero-content
{
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;
  max-width: 500px;
}

.hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);

}

.title.big
{
  text-align: center;
  padding: 40px 0;
}

.title.white
{
  color: var(--white);
}

.hero h1
{
  font-size: 3.6rem;
  color: white;
  text-shadow: 0px 2px 5px var(--darkgrey);
}

.col-3
{
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
}

.col-4
{
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
}

.w-1160
{
  max-width: 1160px;
}

section.space
{
  margin: 60px 0;
}

.section-header
{
  text-transform: uppercase;
  letter-spacing: 1.3px;
  display: block;
  margin: 20px 15px;
  font-weight: 500;
}

.section-header .section-title
{
  display: inline;
 
}

.section-header .section-link
{
  display: inline;
  float: right;
}

.products-section .product, .article-section .article-block
{
  width: 100%;
}

.products-section .product:last-child, .article-section .article-block:last-child
{
  margin-right: 0;
}

.products-section .product .image, .article-section .article-block .article-block-image
{
  width: 100%;
}

.products-section .product .image img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-section .product .product-title
{
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.products-section .product .product-price
{
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6rem;
  letter-spacing: 1px;
  margin-top: 10px;
}

.advert
{
  width: 100%;
  height: 540px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 60px 0;
}

.advert .image
{
  width: 100%;
  background-image: url(/images/claude-piche-lO9LgCjqsBs-unsplash.jpg);
  background-position: center center;
  background-size: cover;
}

.advert .image img, .article-section .article-block img
{
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
}

.advert .content
{
  background-color: var(--lightgrey);
  text-align: center;
}

.article-block-title
{
  padding: 10px 0 5px 0 ;
}

.article-section .article-block .article-block-title h3
{
  font-size: 1.5rem;
}


.article-block-image img
{
  object-fit: cover;
  object-position: center;
  width: auto;
  height: auto;

}

.article-block-text
{
  padding: 10px 0;
}

.article-block-link a
{
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 0.8rem;
  
}

footer
{
  min-height: 250px;
  background-color: #D9D9D9;
  margin-top: 60px;
  padding: 40px;
}

footer .content
{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 140px;
  row-gap: 40px;
}

footer .col-3 h3
{
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.5rem;;
}

footer .col-3 ul li
{
  padding: 5px 0;
}

footer .some
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  text-align: center;
}

footer .some .some-icon .fa-brands
{
  font-size: 3rem;
  
}

footer div .logo
{
  text-align: center;
  margin-top: 60px;
}

.container 
{
  padding: 40px;
  width: 60%;
  position: relative;
  top: 20%;
	margin: 0 auto;
}

/* media query */

@media screen and (max-width: 900px) {


.col-4
  {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }

  footer .content
{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
  
}

@media screen and (max-width: 640px)
{
  nav.left-nav, .shopping-cart-button
  {
    display: none;
  }


  .col-3
  {
    display: block;
  }

  .col-4
  {
    display: block;
  }

  .section-header
  {
    font-size: 0.7rem;
  }

  .product, .article-block
  {
    padding-bottom: 30px;
  }

  .advert
  {
    
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2. 1fr);
    padding-bottom: 40px;
  }

  .advert .image
  {
    height: 300px;
  }

  .advert .container
  {
    width: auto;
    top: 0%;
  }


} 

